body {
  background-color: #777;
}

h1 {
  font-size: 2em;
  font-family: sans-serif;
  color: blue;
}

.responsive_med {
  display: none;
}

.responsive_large {
  display: none;
}

@media screen and (min-width: 800px) {

  .responsive_small {
    display: none;
  }
  .responsive_med {
    display: block;
  }

  .responsive_large {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  
  .responsive_small {
    display: none;
  }

  .responsive_med {
    display: none;
  }

  .responsive_large {
    display: block;
  }
}

header {
  background-color: #444;
}

footer {
  background-color: #444;
}
