body {
  background-color: #777;
  min-width: 360px;
}

h1 {
  padding: 1em;
  font-size: 2em;
  font-family: sans-serif;
  color: green;
}

.clearfix {
  clear: both;
}

header {
  background-color: #444;
}

footer {
  background-color: #444;
}
