
.responsive_small {
  display: block;
}

.responsive_med {
  display: none;
}

.responsive_large {
  display: none;
}

.nav_list {
  display: block;
}

.nav_list li {
  color: #bababa;
  cursor: pointer;
  border-radius: .5em;
  background-color: #454545;
  padding: .5em 1em;
  margin: .4em;
}
@media screen and (min-width: 650px) {
  .nav_list li {
    display: inline-block;
    float: left;
    margin: .2em 1em;
  }
}
@media screen and (min-width: 800px) {

  .responsive_small {
    display: none;
  }
  .responsive_med {
    display: block;
  }

  .responsive_large {
    display: none;
  }

  .nav_list li {
    margin: .2em 1.7em;
  }
}

@media screen and (min-width: 1200px) {

  .responsive_small {
    display: none;
  }

  .responsive_med {
    display: none;
  }

  .responsive_large {
    display: block;
  }

  .nav_list li {
    margin: .2em 3em;
  }
}

.template {
  display: none;
}

#about_me {
  display: none;
}

.article_header {
  padding: .5em 1em;
  border-radius: .5em;
}

.article_header_inner address {
  display: inline;
}

.article_body {
  color: #363636;
}
